body {
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


                /* header */

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 15px 140px;;
}

.header-wrapper {
    max-width:1000px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

/* logo header */
.menu span {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* header main box */
.header-content {
    display: flex;
    align-items: center;
    height: 250px;
    gap: 50px;
    width: 100%;
    margin-bottom: 120px;
}

/* header text box */
.header-content-text {
    width: 50%;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

/* header image box */
.header-content-img {
    width: 60%;
    height: 100%;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.george {
    color: white;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* principal title */
.header-content-text h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    color: #F9FAF8;
}

/* principal title's subtext */
.header-content-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top:0;
    margin-bottom: 15px;
}

.signup-btn-header, .signup-btn-content {
    border-radius: 12px;
    padding: 0px 30px;
    width: 135px;
    height: 40px;
    border: 0;
    font-weight: bolder;
    font-size: 20px;
    background-color: #3882F6;
    color: white;
}



                /* main content */


.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 25px;
}



                /* features */


.content-features {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    align-items:center ;
}

.features {
    display: flex;
    gap: 75px;
    margin-bottom: 100px;
}

.feature {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
}

/* "some random information" title */
.features-title h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 50px;
    margin-top: 30px;
}

.feature-img img {
    width: 150px;
    height: 160px;
    border: #3882F6 solid 4px;
    border-radius: 12px;
}

.feature p {
    text-align: center;
    font-size: 16px;
}


                /* quote */


.content-quote {
    background-color: #E5E7EB;
    width: 100%;
}

.quote {
    width: 1000px;
    display: flex;
    padding: 100px 300px 105px 250px;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
}

.quote p {
    color: #1F2937;
    font-size: 33px;
    font-style: italic;
    margin-bottom: 0;
}


.quote div > span {
    font-weight: 600;
    font-size: 24px;
}



                /* content signup */

.content-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color: white;
    gap: 200px;
    width: 1000px;
    margin: 100px 0;
    padding: 25px 10px;
    border-radius: 10px;

}

.signup-btn-content {
    border-color: white;
    border: white solid 2px;
    padding: 0;
}


footer {
    background-color: #1F2937;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: whitesmoke;
    padding: 40px 0;
    font-size: 15px;
}