body {
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
}

.wrapper {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 15px 200px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo header */
.menu span {
    font-size: 24px;
    color: #F9FAF8;
}

.header-nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* header main box */
.header-content {
    display: flex;
    align-items: center;
    height: 400px;
    gap: 50px;
}

.header-content-text {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.heder-content-img img {
    width: 50%;
}

/* titulo principal */
.header-content-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

/* subtexto del titulo principal */
.header-content-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-btn, .content-signup-text {
    background-color: #3882F6;
}

/* titulo some randome information */
.features-title h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.content-quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

footer {
    background-color: #1F2937;
}